.generatePass {
    width: 500px;
    height: 550px;
    background: rgb(252, 252, 252);
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    display: flex;
        align-items: center;
        text-align: center;
        margin: auto;
        flex-direction: column;
        padding: 10px;
}

.generatePass>form input {
    border-radius: 10%;
    border: 2px solid lightgrey;
    outline: none;
    color: #1d2129;
    margin: 2% 0;
    width: 90%;
    padding: 13px;
    font-size: 16px;
}

.button {
    background-color: olivedrab;
    color: white;
    padding: 15px 30px;
    border: 1px;
    font-size: 22px;
    border-radius: 15px;
    margin: 1rem;
    width: 90%;
    cursor: pointer;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .register {
        width: 80%
    }

    .register>form input {
        width: 80%
    }
}
