.App {
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background: rgb(204, 234, 191);
    background: linear-gradient(113deg, rgba(204, 234, 191, 1) 0%, rgba(0, 137, 130, 1) 60%, rgba(43, 38, 115, 1) 100%);
}