.container {
    margin: auto;
    width: 90%;
    height: 70%;
    padding: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    gap: 10px 10px;
}

.item {
    grid-row-start: 1;
    grid-template-columns: max-content;
    grid-row-end: 3;
}

.card{
    padding: 2px auto;
    margin: 6px;
    background: #fff;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 400px) {
    .viewPasses {
        width: 70%
    }
}

@media only screen and (max-width: 900px) {
    .viewPasses {
        width: 50%
    }
}
